* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: black;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  color: white;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
}

h3 {
  margin: 20px;
}

#canvas {
  border: 2px solid white;
  width: 500px;
  height: 1000px;
  max-height: 100%;
  max-width: 100%;
}

button {
  margin: 24px;
  padding: 12px;
  cursor: pointer;
}

button:disabled{
  color: grey;
  border: 2px solid grey;
}

.btn-green{
  background: black;
  color: #01e64d;
  border: 2px solid #01e64d;
  width: 120px;
}

.btn-blue{
  background: black;
  color: #33a1fd;
  border: 2px solid #33a1fd;
  width: 120px;
}

footer{
  text-align: center;
}

.game {
  position: relative;
  width: 100%;
  height: calc(100% - 170px);
  display: flex;
  justify-content: center;
  align-items: flex-end
}

.game-controls_secondary{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-clean{
  border: none;
  background-color: transparent;
  margin: 8px;
  padding: 0;
  position: absolute;
  bottom: 0;
  display: flex;
  display: none;
}

@media (pointer:coarse) {
  .btn-clean{
    display: inline;
  }
}